


<div class="container">

    <h1>Veritabanın Kişi Ekleme Sayfası</h1>
    <br />

    <button type="button" id="btnAddWriter" class="btn btn-outline-info">Yazar Ekle</button>

    <div class="form-group">
        <label class="text-muted">FullName</label>
        <input type="text" class="form-control" id="Add_Fullname" placeholder="Full Name" />
    </div>

    <div class="form-group">
        <label class="text-muted">Gender</label>
        <select class="form-control" id="Add_Gender">
            <option value="0">Select Gender</option>
            <option value="1">Man</option>
            <option value="2">Woman</option>
        </select>
    </div>

    <div class="form-group">
        <label class="text-muted">Email</label>
        <input type="text" class="form-control" id="Add_ContactEmail" placeholder="example@example.com" />
         <label class="text-muted">Phone</label>
        <input type="text" class="form-control" id="Add_ContactPhone" placeholder="5319553231" />
         <label class="text-muted">Whatsapp</label>
        <input type="text" class="form-control" id="Add_ContactWhatsapp" placeholder="5341553231" />
      </div>
        <div class="form-group">
          <label>Size hangi iletişim kanalından ulaşalım</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Add_ContactAccessable" value="1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Email
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Add_ContactAccessable"  value="2">
        <label class="form-check-label" for="exampleRadios2">
         Telefon
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="Add_ContactAccessable" value="3" >
        <label class="form-check-label" for="exampleRadios3">
          Whatsapp
        </label>
      </div>
    </div>

  <div class="row">
      <div class="col-6">
      <h3>Ev Adresi</h3>
      <div class="form-group">
        <label class="text-muted">City</label>
        <input type="text" class="form-control" id="Add_Home_City" placeholder="City" />
    </div>
    <div class="form-group">
        <label class="text-muted">County</label>
        <input type="text" class="form-control" id="Add_Home_County" placeholder="County" />
    </div>
    <div class="form-group">
        <label class="text-muted">Full Adress</label>
        <input type="text" class="form-control" id="Add_Home_FullAdress" placeholder="Full Adress" />
    </div>
    </div>
    <div class="col-6">
      <h3>İş Adresi<span class="text-muted">(opsiyonel)</span></h3>
      <div class="form-group">
        <label class="text-muted">City</label>
        <input type="text" class="form-control" id="Add_Business_City" placeholder="City" />
    </div>
    <div class="form-group">
        <label class="text-muted">County</label>
        <input type="text" class="form-control" id="Add_Business_County" placeholder="County" />
    </div>
    <div class="form-group">
        <label class="text-muted">Full Adress</label>
        <input type="text" class="form-control" id="Add_Business_FullAdress" placeholder="Full Adress" />
    </div>

  </div>
    
</div>


@section Scripts {
    <script type="text/javascript" src="~/js/Pages/AddPage.js"></script>
}